* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 50px 300px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input {
    border: 2px solid rgb(139, 139, 139);
    outline: none;
    padding: 10px 20px;
    border-radius: 4px 0 0 0;
    width: 100%;
    color: #555;
}

button {
    cursor: pointer;
    border: none;
    background-color: rgb(5, 165, 5);
    padding: 12px 25px;
    color: #fff;
    border-radius: 0px 4px 0 0;
}

.result {
    display: flex;
    justify-content: space-between;
}

.todo, .done {
    width: 49%;
}

.todo p, .done p {
    text-align: center;
    font-size: 20px;
    color: #555;
    margin-top: 30px;
    margin-bottom: 20px;
}

.list {
    width: 100%;
    border: 2px solid rgb(8, 99, 235);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    height: auto;
}

.list.borderRed {
    border: 2px solid rgb(243, 23, 23);
}

.list p {    
    font-size: 16px;
    color: #333;
    margin-top: 0;
    margin-bottom: 0;
}

.list i {
    color: rgb(8, 99, 235);
}
.list.borderRed i {
    color: rgb(243, 23, 23);
}